.main {
	display: flex;
	min-height: 100vh;
}
.aside, .content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.aside {
	width: 30%;
	background: #E8E8E9;
	padding: 1.25rem;
	border-right: 1px solid #e8e8e9;
}
.content {
	width: 70%;
	padding: 2.5rem;
	background: white;
}